body{
  scroll-behavior: smooth;
}
  .flower{
    /* display: block; */
    font-family: monospace;
    background-color: rgb(22, 236, 22);
    width: 170px;
    margin: auto;
    /* align-items: center; */
    /* justify-content: center; */
    /* text-align: end; */
    font-size: 30px;
    border-radius: 10px;
  }
  /* align-items:center;
  justify-content: center; */
  /* .container{
  } */
  /* container img height=300px,width=150px */
  .container img{
    /* display:block; */
    display:flex;
    height: 331px;
    width: 176px;
    margin:10px;
    float:left;
    flex-wrap:wrap;
}





