body{
    background-color: black;
}

.flower img{
    display: block;
    height:500px;
    width: 350px;
    margin: auto;
    margin-top: 50px;
    overflow: hidden;
} 
 .button {
     height: 60px;
     width: 200px;
     margin: auto;
     margin-top: 30px;
     

}

 .btn1 {
    /* position: absolute; */
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 24px;
  }